<nav class="navbar navbar-expand-lg">
  <div class="container justify-content-between align-items-center">
    <!-- Logo on the left -->
    <a class="navbar-brand fw-bold d-flex align-items-center" routerLink="/Home" style="color: #1b263b; font-size: 1.5rem;">
      <!-- <img src="/sprint.png" alt="Sprint Sight Logo" height="30" class="me-2"> -->
      Sprint Sight
    </a>

    <!-- Nav links -->
    <div class="navbar-nav">
      <a class="nav-item nav-link" [routerLink]="'/Home'" routerLinkActive="active-link">Home</a>
      <a class="nav-item nav-link" [routerLink]="'/Connect_Repo'" routerLinkActive="active-link">Connect Repo</a>
      <a class="nav-item nav-link" [routerLink]="'/Stories'" routerLinkActive="active-link">Stories</a>
      <a class="nav-item nav-link" [routerLink]="'/Heatmap'" routerLinkActive="active-link">Heatmap</a>
      <a class="nav-item nav-link" [routerLink]="'/About'" routerLinkActive="active-link">About</a>
    </div>
  </div>
</nav>
